<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Definice výstupů (kam se bude logovat) -->
    <Appenders>
        <!-- Výpis do konzole -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}][%-5level] - %msg%n"/>
        </Console>

        <!-- Výpis do souboru -->
        <File name="FileLogger" fileName="logs/app.log" append="false">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}][%-5level] - %msg%n"/>
        </File>
    </Appenders>

    <!-- Definice loggerů -->
    <Loggers>
        <!-- Logger pro konkrétní balíček (volitelné) -->
        <Logger name="core" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Root logger = výchozí chování pro všechny -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>