<?xml version="1.0" encoding="UTF-8"?>
<config>
    <numberOfRoads>1</numberOfRoads>
    <roadFile>roads/road1.xml</roadFile>
    <road>
        <maxSpeed>50</maxSpeed>
        <lanes>10</lanes>
        <roadLength>200</roadLength>
        <type>continous</type>
    </road>

    <models>
        <carFollowingModel>
            <name>idm</name>
            <id>idm</id>
        </carFollowingModel>
        <laneChangingModel>
            <name>Minimizing Overall Braking Induced by Lane changes (MOBIL)</name>
            <id>mobil</id>
        </laneChangingModel>
    </models>

    <generator>
        <flowRate>0.7</flowRate>
        <minLength>3</minLength>
        <maxLength>5</maxLength>
        <minMaxSpeed>50</minMaxSpeed>
        <maxMaxSpeed>100</maxMaxSpeed>
    </generator>


</config>