<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    <roadFile>map.xml</roadFile>

    <models>
        <carFollowingModel>
            <id>idm</id>
        </carFollowingModel>
        <laneChangingModel>
            <id>mobil-simple</id>
        </laneChangingModel>
    </models>

    <runDetails>
        <drawCells>false</drawCells>
        <laneChange>true</laneChange>
        <timeStep>1</timeStep>
        <debug>false</debug>
        <preventCollision>true</preventCollision>
        <logging>
            <log>true</log>
            <info>true</info>
            <warn>true</warn>
            <debug>false</debug>
            <error>true</error>
            <fatal>true</fatal>
        </logging>
        <output>
            <writeOutput>true</writeOutput>
            <file>output/helly.txt</file>
            <type>csv</type>
            <csvSeparator>;</csvSeparator>
            <whatToWrite>
                <simulationDetails>true</simulationDetails>
                <simulationTime>true</simulationTime>
                <carsPassed>true</carsPassed>
                <carsOnRoad>true</carsOnRoad>
                <whenWasRoadEmpty>true</whenWasRoadEmpty>
                <collisionCount>true</collisionCount>
                <roadDetails>true</roadDetails>
            </whatToWrite>
        </output>
        <timeBetweenSteps>100</timeBetweenSteps>
    </runDetails>
</config>
